<%= form_with(model: equipment, class: "form") do |form| %>
  <% if equipment.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>

      <ul>
        <% equipment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :equipment_type, class: "form-label" %>
    <%= form.select :equipment_type, options_for_select(["Aire acondicionado", "Calentador"]), {}, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :photo, class: "form-label" %>
    <%= form.file_field :photo, class: "form-control" %>
  </div>

  <div>
    <%= form.submit "Actualizar", class: "btn btn-success" %>
  </div>
<% end %>
