<div class="container">
  <% if notice.present? %>
    <div id="success-alert" class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <div class="header">
    <h2 class="header__h2">Equipment List</h2>
    <%= link_to new_equipment_path, class: "button success" do %>
      New Equipment
      <%= image_tag "new-icon.svg", alt: "New Icon", class: "button__icon" %>
    <% end %>
  </div>
  <%#  %>
  <div id="equipment">
    <%#  %>
    <div class="item-container">
      <% @equipment.each do |equipment| %>
        <%= render equipment %>
      <% end %>
    </div>
    <%#  %>
    <%= will_paginate @equipment, class: "container-pagination" do |paginator| %>
    <% end %>
  </div>
</div>
