<div class="col-6 mx-auto">
  <div class="card">
    <h3 class="card-header">Sign in</h3>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'needs-validation' }) do |f| %>
        <div class="form-label">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', required: true, placeholder: "Ingrese su correo electrónico" %>
        </div>

        <div class="form-label">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', required: true, placeholder: "Ingrese su contraseña" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-check">
            <%= f.check_box :remember_me, class: 'form-check-input' %>
            <%= f.label :remember_me, class: 'form-check-label' %>
          </div>
        <% end %>
        <hr>
        <div class="actions">
          <%= f.submit "Log in", class: 'btn btn-primary' %>
          <%= link_to "Volver al inicio", root_path, class: 'btn btn-outline-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
