<div id="<%= dom_id maintainer %>" class="<%= current_page?(maintainer_path(maintainer)) ? 'item-container__item--only' : 'item-container__item' %>">

  <%# top  %>
  <div class="item-section">

    <h6 class="item-section__h6">
      <%= maintainer.created_at.strftime('%B %e, %Y %l:%M %p') %>
    </h6>

    <span>
      <h6 class="item-section__h6">
        ID
        <%= maintainer.equipment ? maintainer.equipment.id : "No Available" %>
      </h6>
    </span>

    <span>
      <h6 class="item-section__h6">
        Name
      </h6>
      <span>
        <%= "#{maintainer.equipment.equipment_type} #{maintainer.equipment.name}" %>
      </span>
    </span>

    <span>
      <h6 class="item-section__h6">
        Type Equipment
      </h6>
      <span>
        <%= maintainer.name %>
      </span>
    </span>

    <span>
      <h6 class="item-section__h6">
        Type support
      </h6>
      <span>
        <%= maintainer.support_type %>
      </span>
    </span>

    <span>
      <h6 class="item-section__h6">
        City
      </h6>
      <span>
        <%= maintainer.city %>
      </span>
    </span>

    <span>
      <h6 class="item-section__h6">
        Material
      </h6>
      <span>
        <%= maintainer.material %>
      </span>
    </span>

    <span>
      <h6 class="item-section__h6">
        Modified by
      </h6>
      <p class="item-section__p">
        <%= maintainer.modified_by_email || "No available" %>
      </p>
    </span>

  </div>

  <%# bottom %>
  <div class="item-section">

    <% if maintainer.equipment && maintainer.equipment.photo.present? %>
      <div class="item-section__block-img">
        <%= image_tag maintainer.equipment.photo.url, class: "card-img-top mx-auto", style: "max-width: 200px; max-height: 200px;" %>
      </div>
    <% else %>
      <div class="item-section__block-img">
        <%= image_tag "default.png", class: "card-img-top mx-auto", style: "max-width: 200px; max-height: 200px;" %>
      </div>
    <% end %>

    <% unless current_page?(maintainer_path(maintainer)) %>
      <%= link_to "Show", maintainer, class: "btn btn-primary" %>
    <% end %>

  </div>

</div>

<%# edited %>
<% if maintainer.modified_by_email.present? %>
  <style>
    #<%= dom_id maintainer %>.item-container__item {
       background-color: #EAFFE4;
       &:hover {
        background-color: #D3FFC6;
       }
     }
  </style>
<% end %>
