<div class="container">
  <% if notice.present? %>
    <div id="success-alert" class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <div class="header">
    <h2 class="header__h2">Maintainer List</h2>
    <%= link_to new_maintainer_path, class: "button success" do %>
      New Maintainer
      <%= image_tag "new-icon.svg", alt: "New Icon", class: "button__icon" %>
    <% end %>
  </div>
  <%#  %>
  <div id="maintainer">
    <div class="item-container">
      <%#  %>
      <% @maintainers.each do |maintainer| %>
        <%= render maintainer %>
      <% end %>
      <%#  %>
    </div>
    <div>
      <%#  %>
      <%= will_paginate @maintainers, class: "container-pagination" do |paginator| %>
      <% end %>
    </div>
  </div>

</div>
