<div class="container-only col-md-4">
  <% if notice.present? %>
    <div id="success-alert" class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <div class="header">
    <div class="header__left">
      <%= link_to "Back", maintainers_path, class: "btn btn-outline-secondary" %>
    </div>
    <div class="header__right">
      <%= link_to "Edit", edit_maintainer_path(@maintainer), class: "btn btn-primary" %>
      <% if current_user.admin == 'admin' %>
        <%= button_to "Delete", @maintainer, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>
  </div>
  <%#  %>
  <%= render @maintainer %>
  <%#  %>
</div>
