<p style="color: green"><%= notice %></p>
<div class="col-4 mx-auto">
  <%= render @maintainer %>

  <div class="d-flex justify-content-between">

    <div>
      <%= link_to "Volver", maintainers_path, class: "btn btn-outline-secondary" %>
      <%= link_to "Editar", edit_maintainer_path(@maintainer), class: "btn btn-primary" %>
    </div>
    <% if current_user.admin == 'admin' %>
      <%= button_to "Eliminar", @maintainer, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
</div>
</div>
