<div id="<%= dom_id mantainer %>">
  <p>
    <strong>Type equipment:</strong>
    <%= mantainer.type_equipment %>
  </p>

  <p>
    <strong>Type support:</strong>
    <%= mantainer.type_support %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= mantainer.name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= mantainer.city %>
  </p>

  <p>
    <strong>Material:</strong>
    <%= mantainer.material %>
  </p>

</div>
