<div class="container-registration col-md-6">
  <div class="container-registration__card">
    <h2 class="container-registration__h2">Contact us</h2>
    <%#  %>
    <%= form_with(model: @message, url: contact_create_path, class: 'form') do |form| %>
      <div class="mb-3">
        <%= form.label :name, class: 'form-label' %>
        <%= form.text_field :name, name: 'message[name]', class: 'form-control', placeholder: 'Enter your name', required: true %>
      </div>
      <div class="mb-3">
        <%= form.label :email, class: 'form-label' %>
        <%= form.email_field :email, name: 'message[email]', class: 'form-control', placeholder: 'Enter your email', required: true %>
      </div>
      <div class="mb-3">
        <%= form.label :message, class: 'form-label' %>
        <%= form.text_area :message, name: 'message[message]', class: 'form-control', rows: 5, placeholder: 'Enter your message', required: true %>
      </div>
      <%= form.submit 'Send', class: 'btn btn-primary' %>
    <% end %>
    <%#  %>
  </div>
</div>
